<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Reset-Password Form</title>
</head>
<body>
<section layout:fragment="jumbotron">
  <div class="jumbotron jumbotron-fluid bg-light border-bottom p-5">
    <div class="container">
      <h1 class=" display-4 text-center fw-semibold">Password Reset From</h1>
      <p class="lead text-center">Enter email below to get email to reset password!</p>
    </div>
  </div>
</section>

<section layout:fragment="content">
  <meta id="_csrf" name="_csrf" th:csrf_content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:csrf_content="${_csrf.headerName}"/>
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-lg-8">
        <div class="alert alert-danger" role="alert" style="display: none" id="error">
          <h3 class="text-center">The Email you have written isn't linked with an account!</h3>
        </div>
        <div class="alert alert-success" role="alert" style="display: none" id="success">
          <h3 class="text-center">Reset Email sent!</h3>
        </div>
        <div class="form-floating my-4">
          <input required type="text" class="form-control" name="username" id="email" placeholder="example@domain.com">
          <label for="email" class="fw-semibold">Enter Email</label>
        </div>
        <div class="col">
          <button class="btn btn-primary fw-semibold" id="submit" disabled>Submit</button>
        </div>
      </div>
      </div>

</section>

<section layout:fragment="scripts">
  <script th:src="@{/js/password/reset-password.js}"></script>
</section>


</body>
</html>